@tailwind base;
@tailwind components;
@tailwind utilities;

hr.dashed-test {
    border-top: 6px solid #bbb;
}

.grid-item {
    width: calc(100% / 6 - 10px);
    margin: 10px 5px 0 5px;
}

.custom-img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 16px;
}

@media screen and (max-width: 2240px) {
    .grid-item {
        width: calc(20% - 10px);
    }
}

@media screen and (max-width: 1920px) {
    .grid-item {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1280px) {
    .grid-item {
        width: calc(100% / 3 - 10px);
    }
}

@media screen and (max-width: 854px) {
    .grid-item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 500px) {
    .grid-item {
        width: calc(100% - 10px);
    }
}
